/include/ "system-conf.dtsi"
/ {
chosen {
bootargs = "console=ttyPS0,115200 earlyprintk uio_pdrv_genirq.of_id=generic-uio root=/dev/mmcblk1p2 rw rootwait";
};
    dma_proxy {
        compatible ="xlnx,dma_proxy";
        dmas = <&DMA_JTAG_axi_dma_0 0 &DMA_JTAG_axi_dma_0 1>;
        dma-names = "dma_proxy_tx", "dma_proxy_rx";
        /*dma-coherent;*/
    };

};

// https://support.xilinx.com/s/question/0D54U00007L8Ab0SAF/sata-ok-from-uboot-not-ok-from-linux?language=en_US
&sata {
    status = "okay";
    /* SATA OOB timing settings */
    ceva,p0-cominit-params = /bits/ 8 <0x18 0x40 0x18 0x28>;
    ceva,p0-comwake-params = /bits/ 8 <0x06 0x14 0x08 0x0E>;
    ceva,p0-burst-params = /bits/ 8 <0x13 0x08 0x4A 0x06>;
    ceva,p0-retry-params = /bits/ 16 <0x96A4 0x3FFC>;
    ceva,p1-cominit-params = /bits/ 8 <0x18 0x40 0x18 0x28>;
    ceva,p1-comwake-params = /bits/ 8 <0x06 0x14 0x08 0x0E>;
    ceva,p1-burst-params = /bits/ 8 <0x13 0x08 0x4A 0x06>;
    ceva,p1-retry-params = /bits/ 16 <0x96A4 0x3FFC>;
};

  &sdhci1 {
    no-1-8-v;
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_sdhci1_default>;
    max-frequency = <50000000>;
    xlnx,mio_bank = <1>;
    // Disable write protect so we can write to the SD card (microSD)
    disable-wp;
    broken-cd;
    broken-mmc-highspeed;
  };

  &pinctrl0 {
            status = "okay";

            pinctrl_sdhci1_default: sdhci1-default {
                 mux {
                      groups = "sdio1_11_grp";
                      function = "sdio1";
                 };

                 conf {
                      groups = "sdio1_11_grp";
                      slew-rate = "SLEW_RATE_SLOW";
                      io-standard = "IO_STANDARD_LVCMOS33";
                      bias-disable;
                 };

            };
  };

